In [33]:
import pandas as pd

dataset = 'ch'
method = 'rsvd'
cluster = 'kmeans'
path = f'{dataset}_{method}_{cluster}.csv'
df = pd.read_csv('./Metrics_new/'+path)

In [34]:
df.head()

    k  info_list    rsvd_t   kmeans_t    purity    f_list  ari_list
0  10   0.066765  0.057486   2.797090  0.740000  0.584704  0.501621
1  30   0.163549  0.200840   4.404932  0.810000  0.677839  0.612404
2  50   0.248180  0.199779   6.110743  0.826667  0.693237  0.631767
3  70   0.326799  0.296397   7.950842  0.780000  0.635063  0.562424
4  90   0.401326  0.220484  11.664064  0.810000  0.672424  0.607592

In [35]:
df['time'] = df.iloc[:,[2,3]].sum(axis=1)
df.head()

    k  info_list    rsvd_t   kmeans_t    purity    f_list  ari_list       time
0  10   0.066765  0.057486   2.797090  0.740000  0.584704  0.501621   2.854576
1  30   0.163549  0.200840   4.404932  0.810000  0.677839  0.612404   4.605772
2  50   0.248180  0.199779   6.110743  0.826667  0.693237  0.631767   6.310522
3  70   0.326799  0.296397   7.950842  0.780000  0.635063  0.562424   8.247240
4  90   0.401326  0.220484  11.664064  0.810000  0.672424  0.607592  11.884548

In [36]:
df.iloc[:,1:] = df.iloc[:,1:].round(4)
df.head()

    k  info_list  rsvd_t  kmeans_t  purity  f_list  ari_list     time
0  10     0.0668  0.0575    2.7971  0.7400  0.5847    0.5016   2.8546
1  30     0.1635  0.2008    4.4049  0.8100  0.6778    0.6124   4.6058
2  50     0.2482  0.1998    6.1107  0.8267  0.6932    0.6318   6.3105
3  70     0.3268  0.2964    7.9508  0.7800  0.6351    0.5624   8.2472
4  90     0.4013  0.2205   11.6641  0.8100  0.6724    0.6076  11.8845

In [37]:
df1 = df.iloc[:,[0,1,7,4,5,6]]
df1.head()

    k  info_list     time  purity  f_list  ari_list
0  10     0.0668   2.8546  0.7400  0.5847    0.5016
1  30     0.1635   4.6058  0.8100  0.6778    0.6124
2  50     0.2482   6.3105  0.8267  0.6932    0.6318
3  70     0.3268   8.2472  0.7800  0.6351    0.5624
4  90     0.4013  11.8845  0.8100  0.6724    0.6076

In [38]:
df1.to_csv('./output/'+path,index=False)